.logo-centered {
    display: block;
    margin-left: 48.7%;
    margin-right: auto;
    margin-top: -0.5%;
    width: 8%;
}

.logo_login-centered
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.7%;
    width: 2.7%;
}

.arrow-login
{
    filter: invert(100%);
    width: 25px;
}

.login_text-block {
    top: 40px;
    left: 18%;
    background-color: #F5F5F5;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 80px;
}

/*------------------------------------------------------------------------------------------*/
/*                                    NAVBAR                                                */
/*------------------------------------------------------------------------------------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 80px;
    overflow: hidden;
    background-color: #01689b;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    color: white;
    text-decoration: underline;
}

.nav-element {
    margin-top: .5%;
    font-size: 150%;
}

.arrow-transform
{
    filter: invert(100%);
    margin-top: 50%;
    width: 40px;
}

/*------------------------------------------------------------------------------------------*/
/*                                    FOOTER                                                */
/*------------------------------------------------------------------------------------------*/

.footer-element {
    margin-top: .5%;
    font-size: 150%;
}

.footer-fill {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 520px;
    overflow: hidden;
    background-color: #01689b;
}

.footer-serif
{
    color: white;
    font-weight: 500;
    font-family: 'Libre Baskerville', serif;
}

.footer-header
{
    font-weight: 400;
    color: white;
    text-align: right;
}

.footer-elements
{
    text-decoration: none;
    color: white;
}

.footer-elements:hover
{
    text-decoration: underline;
    color: white;
}

.arrow-footer
{
    filter: invert(100%);
    width: 25px;
}


.container-footer {
    margin: auto;
    width: 60%;
}

.footer-about
{
    font-weight:400;
    font-family: 'Ubuntu', sans-serif;
}

/*------------------------------------------------------------------------------------------*/
/*                                    HOME                                                  */
/*------------------------------------------------------------------------------------------*/


.home-landscape
{
    z-index: -1;
    margin-top: -1%;
    object-position: 100% 45%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40%;
}

.container-image
{
    position: relative;
}

.text-block {
    position: absolute;
    top: 40px;
    left: 18%;
    background-color: white;
    color: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 25px;
    padding-right: 80px;
}

.remove-td
{
    text-decoration: none;
}

.image-elements
{
    font-weight: 400;
    text-decoration: none;
    color: #01689b;
}

.arrow-image
{
    filter: invert(17%) sepia(100%) saturate(3459%) hue-rotate(185deg) brightness(89%) contrast(105%);
    width: 25px;
}

/*------------------------------------------------------------------------------------------*/
/*                                    CONTENT                                               */
/*------------------------------------------------------------------------------------------*/

.page-header
{
    font-family: 'Ubuntu', sans-serif;
}
.page-content
{
    font-weight:400;
    font-family: 'Ubuntu', sans-serif;
}

/*------------------------------------------------------------------------------------------*/
/*                                    LOGIC                                                 */
/*------------------------------------------------------------------------------------------*/
.container-content {
    margin: auto;
    width: 40%;
}

.centered {
    text-align: center;
}

.fs-xs
{
    min-height: 25px;
}

.fs-xs-footer
{
    min-height: 40px;
}

.fs-s
{
    min-height: 50px;
}

.fs-m
{
    min-height: 75px;
}

.fs-l
{
    min-height: 120px;
}
